<% @restaurants.each do |rest| %>
  <div class="card">
    <h2><%= link_to rest.name, restaurant_path(rest) %></h2>
    <p><%= rest.address %></p>
    <p><%= rest.phone_number %></p>
    <p><%= rest.category %></p>
  </div>
<% end %>
